# Ignore everything
*

# Allow files and directories
!/Makefile
!/main.go
!/go.mod
!/go.sum
!/cmd
!/pkg
!/tools/file-bundler
!/events

# Exclude files and directories inside allowed directories
**/*.md
**/*_test.go
