version: 2.1
workflows:
  main:
    jobs:
      - test:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
      - build:
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
      - release:
          context: falco
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
jobs:
  test:
    docker:
      - image: docker.io/golang:1.16.6
    steps:
      - checkout
      - run:
          name: Test
          command: make test
  build:
    docker:
      - image: docker.io/circleci/golang:1.16.6
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.12
      - run:
          name: Build
          command: make build
  release:
    docker:
      - image: docker.io/circleci/golang:1.16.6
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.12
      - run:
          name: Install Docker Buildx
          command: |
            mkdir -vp ~/.docker/cli-plugins/
            curl --silent -L --output ~/.docker/cli-plugins/docker-buildx https://github.com/docker/buildx/releases/download/v0.3.1/buildx-v0.3.1.linux-amd64
            chmod a+x ~/.docker/cli-plugins/docker-buildx
            docker run -it --rm --privileged tonistiigi/binfmt --install all    
      - run:
          name: Prepare env
          command: |
            echo ${DOCKERHUB_SECRET} | docker login -u ${DOCKERHUB_USER} --password-stdin
      - run:
          name: Go releaser
          no_output_timeout: 60m
          command: |
            export DOCKER_CLI_EXPERIMENTAL=enabled
            curl -sL https://git.io/goreleaser | bash -s -- --timeout 60m
